@use "./../partials/mixins" as *;
@use "./../partials/colours" as *;

.pet {
	background: $dark-grey;

	&__photo-container {
		height: 200px;
		position: relative;
		@include center;
	}
	&__photo {
		background: $grey;
		@include round;
		@include center;
		width: 200px;
		height: 200px;
		position: absolute;
		top: 20%;

		svg {
			width: 100px;
			height: 100px;
			rotate: 30deg;
			opacity: 0.3;
		}
	}

	.content {
		background: $off-white;
		min-height: 100vh;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;

		.form-group {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
